<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings  >

    <add name="Server1ConnectionString" connectionString="Data Source=scabdbfpr01;Initial Catalog=mdb;user=bi_user; password=careader2000" providerName="System.Data.SqlClient"/>


  </connectionStrings>
</configuration>